* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 16rem;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 50fr 50fr;

  width: 45vw;
  column-gap: 8rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.friend-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* padding: 4rem; */
}

.friends-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.friend-wrapper {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.8rem;
  transition: all 0.4s ease-in;
  padding: 2rem;
}

.friend-wrapper:hover {
  background-color: #ffedd5;
}

.friend-wrapper img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1000rem;
}

.friend-details {
}

.friend-details h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.friend-details p {
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-primary {
  display: inline-block;
  background: none;
  border: none;
  color: #333;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;

  border-radius: 0.9rem;
  background-color: #f59e0b;
  cursor: pointer;
}

.add-friend--btn {
  margin-top: 2rem;
  width: fit-content;
  margin-left: auto;
}

/*  */

.split-bill--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff7ed;
  border-radius: 0.9rem;
  padding: 4rem 2rem;
  align-self: flex-start;
}

.split-bill--box h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #555;
  letter-spacing: -1px;
  margin-bottom: 4rem;
}

.splitting-form {
  font-size: 1.6rem;
  font-weight: 500;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 30%;
  row-gap: 1.4rem;
}

.splitting-form input,
select {
  font-size: 1.6rem;
  border: none;
  height: 3.2rem;
  padding: 0.8rem 1.2rem;
  text-align: center;
  border-radius: 0.2rem;
  border: 1px solid #ffedd5;
}

.splitting-form input:focus,
select:focus {
  outline: 1px solid #f59e0b;
}

.splitting-form button {
  margin-top: 2rem;
}

/*  */
.add-friend-wrapper {
  background-color: #fff7ed;
  border-radius: 0.9rem;
  padding: 4rem 2rem;
}

.add-friend-form {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 2rem;
}

.add-friend-form button {
}

.add-friend-form label {
  font-size: 1.8rem;
}

.add-friend-form input {
  font-size: 1.8rem;
}
